div{
    height: 400px;
    color: darkred;
}
.big1-img{
    background: url(../images/img2.jpg);
    background-repeat: round;
    background-size: cover;
}
.small-img {
    border: 2px solid black;
    background: url(../images/img3.jpg);
/* background-repeat: repeat; */
background-repeat: no-repeat;
/* background-repeat: repeat-x; */
/* background-repeat: repeat-y; */
/* background-repeat: space; */
/* background-repeat: round; */
background-position: 100% 100%;
}
.big2-img {
    background: url(../images/img4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}