#first {
    color: rgb(102, 31, 31);
    background-color: rgba(192, 11, 138, 0.603);
}

#second {
    color: rgb(45, 10, 34);
    background-color: rgba(8, 182, 8, 0.603);
}

#three {
    color: rgb(255, 0, 0);
    background-color: rgba(192, 182, 47, 0.808);
}

#four {
    color: rgb(0, 0, 255);
    background-color: rgba(0, 0, 0, 1);
}

body {
    background: rgba(10, 200, 200, 0.56);
}