* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #000;
}

.main-screen {
    background-color: #9457EB;
    min-height: 70vh;
    margin: 130px 30px 0px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    height: 300px;
    width: 300px;

 /*|_______________/|\__________________|*/

    /*
    transition-property: background, border-radius;
    transition-duration: 2s, 1s;
    transition-delay: 0.2s;
    transition: background 2s 3s, border-radius 1s 2s;
    transition: all 0.4;
    transition-timing-function: ease-out;
    */

    transition: all 0.7s ease-out;
/*|_____________________________________|*/

}

.box:hover {
    background-color: #F4D01D;
    border-radius: 50%;
}

.box-1 {
    background-color: #CC397B;
}

.box-2 {
    background-color: #0C00EE;
}

.box-3 {
    background-color: #00C800;
}
